@import '../../@theme/styles/themes.scss';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
nb-card-body {
    display: block;
}
.spinner_container {
    padding-left: 5px;
}

.login-card {
    padding-top: 50px;
}

span.save-btn {
    margin-left: 52px;
}

.save_btn_save {
    position: absolute;
    margin-left: 28px;
}

.pass-eye {
    position: absolute;
    right: 17px;
    margin: 10px;
    top: -2px;
}
}
