<nb-card>
  <nb-card-header class="page-title">Change Password</nb-card-header>
  <nb-card-body>
    <form [formGroup]="changePassFrom">
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label class="label">Current Password
              <span class="required-input">*</span>
            </label>
          </div>
          <div class="col-md-6">
            <input type="{{currentPassword ? 'text' : 'password'}}" trim="blur" class="form-control"
              formControlName="current_password" nbInput fullWidth placeholder="Current Password">
            <nb-icon type="button" class="pass-eye" (click)="currentPassword = !currentPassword"
              icon="{{currentPassword ? 'eye' : 'eye-off'}}"></nb-icon>
            <mat-error *ngFor="let validation of formValidations.current_password">
              <mat-error class="caption status-danger"
                *ngIf="changePassFrom.get('current_password')?.hasError(validation.type) && (changePassFrom.get('current_password')?.dirty || changePassFrom.get('current_password')?.touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label class="label">New Password
              <span class="required-input">*</span>
            </label>
          </div>
          <div class="col-md-6">
            <input type="{{newPassword ? 'text' : 'password'}}" formControlName="new_password" nbInput trim="blur"
              class="form-control" fullWidth placeholder="New Password" required>
            <nb-icon type="button" class="pass-eye" (click)="newPassword = !newPassword"
              icon="{{newPassword ? 'eye' : 'eye-off'}}"></nb-icon>
            <mat-error class="caption status-danger" *ngIf="changePassFrom.get('new_password')?.invalid &&
                  (changePassFrom.get('new_password')?.touched || changePassFrom.get('new_password')?.dirty)">
              <p class="caption status-danger" *ngIf="changePassFrom.get('new_password')?.hasError('required')">
                Password is required
              </p>
              <p class="caption status-danger" *ngIf="changePassFrom.get('new_password')?.hasError('passwordStrength')">
                {{changePassFrom.get('new_password')?.errors?.['passwordStrength']}}
              </p>
              <p class="caption status-danger"
                *ngIf="!changePassFrom.get('new_password')?.hasError('passwordStrength') && changePassFrom.get('new_password').errors.minlength">
                Password must be at least 8 characters
              </p>
            </mat-error>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label class="label">Confirm Password
              <span class="required-input">*</span>
            </label>
          </div>
          <div class="col-md-6">
            <input type="{{confirmPassword ? 'text' : 'password'}}" #confirm_password trim="blur" class="form-control"
              formControlName="confirm_password" nbInput fullWidth placeholder="Confirm Password">
            <nb-icon type="button" class="pass-eye" (click)="confirmPassword = !confirmPassword"
              icon="{{confirmPassword ? 'eye' : 'eye-off'}}"></nb-icon>
            <mat-error *ngFor="let validation of formValidations.confirm_password">
              <mat-error class="caption status-danger"
                *ngIf="changePassFrom.get('confirm_password')?.hasError(validation.type) && (changePassFrom.get('confirm_password')?.dirty || changePassFrom.get('confirm_password')?.touched)">
                {{validation.message}}
              </mat-error>
              <mat-error class="caption status-danger"
                *ngIf="!changePassFrom.get('confirm_password')?.hasError(validation.type) && (changePassFrom.get('confirm_password')?.dirty || changePassFrom.get('confirm_password')?.touched) && changePassFrom.errors">
                Enter match password
              </mat-error>
            </mat-error>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-4">
        <span class="save-btn">
          <button nbButton class="theme-btn" size="medium" (click)="onReset()">Reset</button>
          <button nbButton [ngClass]="isLoading ? '' : 'theme-btn'" class="save_btn_save" size="medium"
            (click)="onSubmit()" [disabled]="isLoading" [nbSpinner]="isLoading" nbSpinnerStatus="primary">
            Save
          </button>
        </span>
      </div>
    </div>
  </nb-card-body>
</nb-card>