@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
.status-basic {
    border-color: #b4b6bb !important;
}
label.label {
    font-weight: 500;
    color: #000000c9;
}
nb-card-header.title {
    font-size: 21px;
    font-weight: 700;
 
}
}
