<nb-card>
  <nb-card-header class="page-title">{{menuId ? 'Edit' : 'Add'}} Menu
    <span class="back-arow" (click)="back()">
      <img src="assets/images/back-arow.png" height="15px" width="20px"><span class="back-text">Back To List</span>
    </span>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="addEditMenuForm">
      <div class="form-group" *ngIf="menuName">
        <div class="row">
          <div class="col-md-2">
            <label class="label">Menu Name</label>
          </div>
          <div class="col-md-6">
            <input type="text" trim="blur" maxlength="100" class="form-control" value="{{menuName}}" nbInput fullWidth disabled>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label class="label">{{menuName ? 'Sub': ''}} Menu Name
              <span class="required-input">*</span>
            </label>
          </div>
          <div class="col-md-6">
            <input type="text" trim="blur" maxlength="100" class="form-control" formControlName="menu_name" nbInput
              fullWidth placeholder="Menu Name" required>
            <mat-error *ngFor="let validation of formValidations.menu_name">
              <p class="caption status-danger"
                *ngIf="addEditMenuForm.get('menu_name')?.hasError(validation.type) && (addEditMenuForm.get('menu_name')?.dirty || addEditMenuForm.get('menu_name')?.touched)">
                {{validation.message}}
              </p>
            </mat-error>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label class="label">Menu URL<span class="required-input">*</span></label>
          </div>
          <div class="col-md-6">
            <input type="text" trim="blur" class="form-control" formControlName="url" nbInput fullWidth
              placeholder="URL" required>
            <mat-error *ngFor="let validation of formValidations.url">
              <p class="caption status-danger"
                *ngIf="addEditMenuForm.get('url')?.hasError(validation.type) && (addEditMenuForm.get('url')?.dirty || addEditMenuForm.get('url')?.touched)">
                {{validation.message}}
              </p>
            </mat-error>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label class="label">Icon</label>
          </div>
          <div class="col-md-6">
            <input type="text" trim="blur" class="form-control" formControlName="icon_css_class" nbInput fullWidth
              placeholder="Icon Name">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label class="label"></label>
          </div>
          <div class="col-md-6">
            <nb-checkbox formControlName="is_only_for_admin"> Is Admin</nb-checkbox>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <span class="save-btn">
          <button nbButton [ngClass]="isLoading ? '' : 'theme-btn'" class="save_btn_save" size="medium"
            (click)="onSubmit()" [disabled]="isLoading" [nbSpinner]="isLoading" nbSpinnerStatus="primary">
            Save
          </button>
        </span>
      </div>
    </div>
  </nb-card-body>
</nb-card>
